<form [formGroup]="search">
  <label for="title">Title</label>
  <input id="title" formControlName="title" />
  <br />
  <label for="author">Author</label>
  <input id="author" formControlName="author" />
</form>
<pre>Value: {{ search.value | json }}</pre>
<pre>Valid: {{ search.valid }}</pre>
<pre>Title Valid: {{ search.get("title")?.valid }}</pre>
