<ng-container *ngIf="video | async as v">
  <h2>{{ v.title }}</h2>
  {{ v.author }}
  <iframe [src]="url | async" width="560" height="315" frameborder="0"></iframe>
</ng-container>

<!--
<h2>{{ video?.title }}</h2>
{{ video?.author }}
-->
